<div>
  <form [formGroup]="oscillatorForm">
    <div>
      <div>Waveform</div>
      <select formControlName="type">
        <option *ngFor="let option of oscillatorTypeOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <div class="mt-4">
      <div class="flex justify-between">
        <div>Octave</div>
        <div>{{ oscillatorForm.value.octave }}</div>
      </div>
      <div class="flex justify-between px-[6px]">
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
      </div>
      <input
        type="range"
        class="input-range"
        formControlName="octave"
        min="-2"
        max="2"
        value="0"
        step="1"
      />
    </div>

    <div class="mt-4">
      <div class="flex justify-between">
        <div>Tune</div>
        <div>{{ oscillatorForm.value.tune }}</div>
      </div>
      <div class="flex justify-between px-[6px]">
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
        <div class="w-[1px] h-[8px] bg-black"></div>
      </div>
      <input
        type="range"
        class="input-range"
        formControlName="tune"
        min="-7"
        max="7"
        value="0"
        step="0.1"
      />
    </div>
  </form>
</div>
